<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<base href="./" th:href="@{/}"/>
<title>genogram</title>
<link rel="icon" type="image/x-icon" href="/img/icon.genogram.ico"/>
<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" th:href="#{file.css.jquery.mobile}"/>
<link rel="stylesheet" href="css/default.css"/>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js" th:src="#{file.js.jquery}"></script>
<script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" th:src="#{file.js.jquery.ui}"></script>
<script type="text/javascript" src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js" th:src="#{file.js.jquery.mobile}"></script>
<script type="text/javascript" src="js/edit-min.js"></script>
</head>

<body>
<div id="mainPage" data-role="page">
<!--
  <div data-role="header" data-theme="b" data-position="fixed">
    <h1>Genogram prototype</h1>
    <a href="#settingPanel" class="ui-btn ui-btn-left ui-corner-all ui-btn-inline ui-btn-icon-left ui-icon-gear ui-btn-icon-notext"></a>
  </div>
-->
  <div id="view" data-role="content">
    <canvas id="canvas"></canvas>
  </div>
  <div id="settingPanel" data-role="panel" data-position="left" data-swipe-close="false">
    <form>
      <input type="hidden" name="id" th:value="${diagram.id}"/>
      <input type="hidden" name="documentId" th:value="${diagram.documentId}"/>
      <input type="text" name="documentId" th:value="${diagram.documentId}" placeholder="ID" disabled="disabled"/>
      <textarea name="description" th:text="${diagram.description}" placeholder="Description" th:placeholder="#{placeholder.description}"></textarea>
      <div class="ui-field-contain">
        <label th:text="#{label.grid}">Grid:</label>
        <input type="checkbox" name="showGrid" value="1" data-role="flipswitch" data-on-text="On" data-off-text="Off"/>
      </div>
      <input type="range" name="gridSize" min="30" max="120" step="10" value="80"/>
      <div class="ui-field-contain">
        <label th:text="#{label.name}">Name:</label>
        <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
          <label><span>Off</span><input name="showName" type="radio" value="Off" checked="checked"/></label>
          <label><span>^</span><input name="showName" type="radio" value="Top"/></label>
          <label><span>-</span><input name="showName" type="radio" value="Middle"/></label>
          <label><span>_</span><input name="showName" type="radio" value="Bottom"/></label>
        </fieldset>
      </div>
      <label>Font size:<input type="range" name="nameSize" min="8" max="40" step="4" value="16"/></label>
      <button id="encloseButton" type="button" data-rel="close" class="ui-btn ui-mini ui-corner-all ui-btn-icon-left ui-icon-plus" th:text="#{button.enclose}">Enclosure</button>
      <button id="printButton" type="button" class="ui-btn ui-mini ui-corner-all ui-btn-icon-left ui-icon-action" th:text="#{button.print}">Print</button>
      <button id="saveButton" type="button" class="ui-btn ui-mini ui-corner-all ui-btn-b ui-btn-icon-left ui-icon-check ui-state-disabled" th:text="#{button.save}">Save</button>
      <button id="clearButton" type="button" class="ui-btn ui-mini ui-corner-all ui-btn-icon-left ui-icon-alert">Clear</button>
    </form>
  </div>
  <div id="pane" data-draggable="false">
    <div id="inputPanel" data-position="right" data-swipe-close="false" data-display="overlay" data-dismissible="false" data-animate="false">
      <form>
        <input name="name" type="text" placeholder="Name" th:placeholder="#{placeholder.name}"/>
        <textarea name="description" placeholder="Description" th:placeholder="#{placeholder.description}"></textarea>
        <div data-role="collapsibleset" data-mini="true">
          <div data-role="collapsible" data-collapsed="false">
            <h3 th:text="#{label.attributes.basic}">Basic attributes</h3>
            <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
              <label><span th:text="#{label.male}">Male</span><input name="gender" type="radio" value="m"/></label>
              <label><span th:text="#{label.female}">Female</span><input name="gender" type="radio" value="f"/></label>
              <label><span th:text="#{label.unclear}">Unclear</span><input name="gender" type="radio" value="u"/></label>
            </fieldset>
            <div class="ui-field-contain">
              <label for="input-age" th:text="#{label.age}">Age:</label>
              <input id="input-age" name="age" type="number" min="0" max="120"/>
            </div>
            <div class="ui-field-contain">
              <label for="input-dob" th:text="#{label.dob}">Date of birth:</label>
              <input id="input-dob" name="dob" type="date"/>
            </div>
            <div class="ui-field-contain">
              <label for="input-dod" th:text="#{label.dod}">Date of death:</label>
              <input id="input-dod" name="dod" type="date"/>
            </div>
          </div>
          <div data-role="collapsible">
            <h3 th:text="#{label.attributes.other}">Other attributes</h3>
            <div class="ui-field-contain">
              <label th:text="#{label.illness}">Physical or mental illness:</label>
              <input type="checkbox" name="illness" data-role="flipswitch" data-on-text="On" data-off-text="Off"/>
            </div>
            <div class="ui-field-contain">
              <label th:text="#{label.abuse}">Alcohol or drug abuse:</label>
              <input type="checkbox" name="abuse" data-role="flipswitch" data-on-text="On" data-off-text="Off"/>
            </div>
            <div class="ui-field-contain">
              <label for="input-attr" th:text="#{label.mark}">Mark:</label>
              <input id="input-attr" name="attr" type="text"/>
            </div>
          </div>
          <div data-role="collapsible">
            <h3 th:text="#{label.partner}">Partner</h3>
            <button id="partnerButton" type="button" class="ui-btn ui-mini ui-corner-all ui-btn-icon-left ui-icon-plus" th:text="#{button.partner}">Partner</button>
            <ul id="partnerView" data-role="listview" data-inset="true"></ul>
          </div>
          <div data-role="collapsible">
            <h3 th:text="#{label.movement}">Movement</h3>
            <button id="upButton" type="button" class="ui-btn ui-mini ui-corner-all ui-btn-icon-left ui-icon-carat-u">上</button>
            <button id="downButton" type="button" class="ui-btn ui-mini ui-corner-all ui-btn-icon-left ui-icon-carat-d">下</button>
          </div>
        </div>
        <button id="parentsButton" type="button" class="ui-btn ui-mini ui-corner-all ui-btn-icon-left ui-icon-arrow-u" th:text="#{button.parents}">Parents</button>
      </form>
      <button name="deleteButton" class="ui-btn ui-mini ui-corner-all ui-btn-icon-left ui-icon-delete" data-rel="close" disabled="disabled" th:text="#{button.delete}">Delete</button>
    </div>
    <div id="partnerPanel" data-position="right" data-display="overlay" data-dismissible="false" data-animate="false">
      <form>
        <input type="text" name="father" disabled="disabled" placeholder="Male" th:placeholder="#{placeholder.male}"/>
        <input type="text" name="mother" disabled="disabled" placeholder="Female" th:placeholder="#{placeholder.female}"/>
        <div data-role="collapsibleset" data-mini="true">
          <div data-role="collapsible" data-collapsed="false">
            <h3 th:text="#{label.relationship}">Relationship</h3>
            <fieldset data-role="controlgroup" data-mini="true">
              <label><span th:text="#{label.marriage}">Marriage</span><input name="relationType" type="radio" value="m"/></label>
              <label><span th:text="#{label.separated}">Separated</span><input name="relationType" type="radio" value="s"/></label>
              <label><span th:text="#{label.divorced}">Divorced</span><input name="relationType" type="radio" value="d"/></label>
              <label><span th:text="#{label.concubinage}">Concubinage</span><input name="relationType" type="radio" value="c"/></label>
            </fieldset>
          </div>
          <div data-role="collapsible">
            <h3 th:text="#{label.children}">Children</h3>
            <fieldset class="ui-grid-a">
              <label class="ui-block-a"><button id="mChildButton" type="button" class="ui-btn ui-mini ui-corner-all ui-btn-icon-left ui-icon-plus" th:text="#{button.maleChild}">Male</button></label>
              <label class="ui-block-b"><button id="fChildButton" type="button" class="ui-btn ui-mini ui-corner-all ui-btn-icon-left ui-icon-plus" th:text="#{button.femaleChild}">Female</button></label>
            </fieldset>
            <ul id="childrenView" data-role="listview" data-inset="true"></ul>
          </div>
          <div data-role="collapsible">
            <h3 th:text="#{label.movement}">Movement</h3>
            <fieldset class="ui-grid-a">
              <label class="ui-block-a"><button id="narrowlyButton" type="button" class="ui-btn ui-mini ui-corner-all ui-btn-icon-left ui-icon-minus" th:text="#{button.narrowly}">Narrowly</button></label>
              <label class="ui-block-b"><button id="widelyButton" type="button" class="ui-btn ui-mini ui-corner-all ui-btn-icon-left ui-icon-plus" th:text="#{button.widely}">Widely</button></label>
            </fieldset>
          </div>
        </div>
      </form>
    </div>
    <div id="relationPanel" data-position="right" data-display="overlay" data-dismissible="false" data-animate="false">
      <form>
        <input type="text" name="from" disabled="disabled"/>
        <input type="text" name="to" disabled="disabled"/>
        <fieldset data-role="controlgroup" data-mini="true">
          <label><span th:text="#{label.fused}">Fused</span><input name="emotion" type="radio" value="Fused"/></label>
          <label><span th:text="#{label.close}">Close</span><input name="emotion" type="radio" value="Close"/></label>
          <label><span th:text="#{label.distant}">Distant</span><input name="emotion" type="radio" value="Distant"/></label>
          <label><span th:text="#{label.hostile}">Hostile</span><input name="emotion" type="radio" value="Hostile"/></label>
          <label><span th:text="#{label.fusedHostile}">Fused hostile</span><input name="emotion" type="radio" value="FusedHostile"/></label>
          <label><span th:text="#{label.closeHostile}">Close hostile</span><input name="emotion" type="radio" value="CloseHostile"/></label>
          <label><span th:text="#{label.cutOff}">Cut off</span><input name="emotion" type="radio" value="CutOff"/></label>
          <label><span th:text="#{label.focused}">Focused</span><input name="emotion" type="radio" value="Focused"/></label>
          <label><span th:text="#{label.sexualAbuse}">Sexual abuse</span><input name="emotion" type="radio" value="SexualAbuse"/></label>
          <label><span th:text="#{label.physicalAbuse}">Physical abuse</span><input name="emotion" type="radio" value="PhysicalAbuse"/></label>
        </fieldset>
        <button type="button" name="flipButton" class="ui-btn ui-mini ui-corner-all ui-btn-icon-left ui-icon-recycle" th:text="#{button.flip}">Flip</button>
        <button type="button" name="deleteButton" class="ui-btn ui-mini ui-corner-all ui-btn-icon-left ui-icon-delete" data-rel="close" th:text="#{button.delete}">Delete</button>
      </form>
    </div>
  </div>
  <div id="enclosurePopup" data-role="popup" data-overlay-theme="b" class="ui-content">
    <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-left">Close</a>
    <button class="ui-btn ui-mini ui-corner-all ui-btn-icon-left ui-icon-plus" th:text="#{button.handle.add}">Add handle</button>
    <button class="ui-btn ui-mini ui-corner-all ui-btn-icon-left ui-icon-minus" th:text="#{button.handle.del}">Remove handle</button>
    <button class="ui-btn ui-mini ui-corner-all ui-btn-icon-left ui-icon-delete" th:text="#{button.delete}">Delete</button>
  </div>
  <div id="confirmPopup" data-role="popup" data-overlay-theme="b" class="ui-content">
    <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-left">Close</a>
    <pre id="msg.clear" th:text="#{msg.clear}">Completely clear the diagram.</pre>
    <fieldset class="ui-grid-b">
      <div class="ui-block-a"></div>
      <div class="ui-block-b"><a data-rel="back" class="ui-btn ui-mini ui-corner-all yes" th:text="#{button.yes}">Yes</a></div>
      <div class="ui-block-c"><a data-rel="back" class="ui-btn ui-mini ui-corner-all ui-btn-b no" th:text="#{button.no}">No</a></div>
    </fieldset>
  </div>
  <div id="messagePopup" data-role="popup" data-overlay-theme="b" class="ui-content" style="max-width:280px">
    <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-left">Close</a>
    <pre id="msg.generations" th:text="#{msg.generations(5)}">Generation is limited(3).</pre>
    <pre id="msg.saved" th:text="#{msg.saved}">Saved.</pre>
    <pre id="msg.save.failed" th:text="#{msg.save.failed}">Save failed.</pre>
  </div>
  <iframe id="printFrame" src="print.html"></iframe>
</div>
</body>
</html>
